:host {
	position: absolute;
	padding: 0;
	border: 1px solid black;
	font-size: 11px;
	min-width: 100px;
	border-radius: 4px;
	color: #9d9d9d;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
	background: rgba(32,32,32,0.6);
	background: linear-gradient(rgba(32,32,32,0.6), rgba(64,64,64,0.6));
}
:host.selected:after{
	content: "";
	display: block;
	position: absolute;
	top: -3px;
	bottom: -3px;
	left: -3px;
	right: -3px;
	border-radius: 5px;
	border: solid 2px rgba(0,153,255,1);
	pointer-events:none;	
}
editor-unit-input {
	border-radius: 3px;
	/*border: 0px;*/
	height: 15px;
	margin: 2px;
	min-width: 50px;
	width: 50px;
}
editor-unit-input::shadow #input {
	/*text-align: right;*/
	padding-right: 10px;
}
editor-unit-input::shadow .border {
	border-radius: 3px;
}
editor-unit-input::shadow .btngroup {
	position: absolute;
	right: 2px;
	top: 1px;
}
editor-unit-input::shadow .btn {
	width: 6px;
}
editor-unit-input::shadow i {
	height: 5px;
	line-height: 5px;
	margin-right: 1px;
}
.node-type-value editor-unit-input {
}
.node-type-vec2 editor-unit-input {
}
.node-type-vec3 editor-unit-input {
}
.node-type-vec4 editor-unit-input {
}
.inputs {
	float: left;
}
.outputs {
	float: right;
}
.out,
.in {
	cursor: pointer;
	margin: 2px;
	display: block;
}
.in {
	text-align: left;
	padding-left: 0px;
}
.out {
	text-align: right;
	padding-right: 0px;
}
.title {
	text-align: center;
	padding: 4px;
	color: #9d9d9d;
	background: rgba(16,16,16,0.1);
	/*background: linear-gradient(rgba(32,32,32,0.6), rgba(64,64,64,0.6));*/
}
.draggable {
	cursor: move;
}
