:host {
	cursor: pointer;
}
svg {
	position: relative;
	top: 1px;
	height: 8px;
	width: 8px;
}
.input,
.output {
	display: inline-block;
	background-image: url(../images/port.png);
	background-repeat: no-repeat;
	width: 8px;
	height: 8px;
	margin: 0;
	padding: 0;
}
.input.connected,
.output.connected {
	background-image: url(../images/port-connected.png);
}
.input.dragged,
.output.dragged {
	background-image: url(../images/port-connected.png);
}
