:host {
	position: absolute;
}
.wire {
	stroke: white;
	stroke-width: 2px;
	fill: none;
}
.wire:hover {
	stroke: #ddd;
}
.connector {
	stroke: none;
	fill: white;
	r: 3px;
}
.connector:hover {
	fill: #ddd;
	cursor: pointer;
}
.connector.dragging {
	display: none;
}
