:host {
	position: absolute;
	background: rgba(255,0,0,0.25);
}
svg {
	position: absolute;
	/*background: rgba(0,255,255,0.25);*/
}
svg path {
	stroke: blue;
	stroke-width: 3px;
	fill: transparent;
}
svg path:hover {
	stroke: red;
}
svg circle {
	stroke: white;
	r: 10px;
}
svg circle#A {
	fill: rgba(255,0,0,0.25);
}
svg circle#B {
	fill: rgba(255,255,0,0.25);
}
