:host {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 100px;
}
svg path {
	stroke: blue;
	stroke-width: 3px;
	fill: transparent;
}
svg path:hover {
	stroke: red;
}
svg circle {
	stroke: white;
	fill: red;
	r: 10px;
}