:host {
	color: #595959;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-weight: 300;
	display: block;
	padding: 0;
}

.menu {
	display: none;
	position: absolute;
	z-index: 10;
	padding: 0;
	width: 240px;
	background-color: #fff;
	border: solid 1px #dfdfdf;
	box-shadow: 2px 2px 2px #666;
}

.menu-active {
	display: block;
	height: 327px;
}

#menu-items {
	display: block;
	height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}

#menu-items::-webkit-scrollbar {
    width: 8px;
}

#menu-items::-webkit-scrollbar-track {
    -webkit-border-radius: 8px;
    border-radius: 8px;
	background: transparent;
}

#menu-items::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: rgba(64,64,64,0.1);
}

#menu-items::-webkit-scrollbar-thumb:window-inactive {
	/*background: rgba(32,32,32,0.1);*/
}

.menu-item {
	cursor: default;
	display: block;
	padding: 2px 12px;
	color: #0066aa;
	text-decoration: none;
}

.menu-item span {
	background-color: #f9f8c4;
	text-decoration: underline;
	text-decoration-color: #e7d215;
	-webkit-text-decoration-color: #e7d215;
}

.menu-item-hover {
	color: #fff;
	background-color: #0066aa;
}

.menu-item-hover span {
	background-color: #7e94e6;
	text-decoration: underline;
}

.search {
	margin: 0;
	height: 25px;
	width: 100%;
	border: solid 1px #dfdfdf;
	display: inline-block;
	outline: 0;
}
